{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="big-cover">
        <div class="answer-cover">
            {{summarized_text}}
        </div>
        <div class="btn-cover">
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Go Back</a>
        </div>
    </div>

</body>

</html>